@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>

    @await Component.InvokeAsync("CheepBox", new {model = this.Model})

    @await Component.InvokeAsync("CheepTimeline", new {model = this.Model})
</div>
