@page "/"
@model PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    @await Component.InvokeAsync("Timeline", new { model = Model, timelineOwner = "Public" })
</div>