@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    @await Component.InvokeAsync("Timeline", new {model = this.Model, timelineOwner = "Public"})
</div>
