@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>

    @if (User.Identity is { IsAuthenticated: true })
    {
        <div class="cheepbox">
            <h3>What's on your mind @(User.Claims.FirstOrDefault(c => c.Type == "Beak")?.Value)?</h3>
            <form method="post">
                <input style="float: left" type="text" asp-for="Message">
                <input type="submit" value="Share">
                <span asp-validation-for="Message"></span>
            </form>
        </div>
    }

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Text
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>