@page "/{authorName}"
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("authorName");
}

<div>
    <h2> @routeName's Timeline </h2>

    @await Component.InvokeAsync("CheepBox", new {model = this.Model})

    @await Component.InvokeAsync("TimelineContent", new {model = this.Model})
</div>