@page "/{authorName}"
@model UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("authorName");
}

<div>
    @await Component.InvokeAsync("Timeline", new { model = Model, timelineOwner = routeName + "'s" })
</div>