@page "/{authorName}"
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("authorName");
}

<div>
    @await Component.InvokeAsync("Timeline", new {model = this.Model, timelineOwner = @routeName + "'s"})
</div>