@if (User.Identity is { IsAuthenticated: true })
{
    <div>
        <a href="/@(User.Claims.FirstOrDefault(c => c.Type == "DisplayName")?.Value)">my timeline</a> |
        <a href="/">public timeline</a> |
        <a asp-page="PersonalData">about me</a> |
        <a asp-area="Identity" asp-page="/Account/Logout">logout [@(User.Claims.FirstOrDefault(c => c.Type == "DisplayName")?.Value)]</a> |
    </div>
}
else
{
    <div>
        <a href="/">public timeline</a> |
        <a asp-area="Identity" asp-page="/Account/Register">register</a> |
        <a asp-area="Identity" asp-page="/Account/Login">login</a>
    </div>
}