@if (User.Identity is { IsAuthenticated: true })
{
    <div>
        <a href="/@(User.Identity.Name)">my timeline</a> |
        <a href="/">public timeline</a> |
        <a ...>logout [@(User.Identity.Name)]</a>
    </div>
}
else
{
    <div>
        <a href="/">public timeline</a> |
        <a ...>register</a> |
        <a ...>login</a>
    </div>
}